<%= form_for(@exam_request) do |f| %>
  <% if @exam_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_request.errors.count, "error") %> prohibited this exam_request from being saved:</h2>

      <ul>
      <% @exam_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
